
html {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0; /* fix body margin, should only be on header somehow */
  font-size: 1vw;
  padding-top: 5em ;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: rgb(9,9,11);
    padding-bottom: 3px;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
  font-size: 2vw;
  justify-content: space-between;
  align-items: center;
}

.flex-container > div {
  background-color: DodgerBlue;
  padding: 0.em;
  text-align: center;
  
}

.page-titles{
  display: flex;
  font-size: 1.5vw;
}

.page-titles a {
  color: #000000;
  text-decoration: none;
  background-color: aquamarine;
  border-radius: 0.5vw;
  padding: 0.2em;
  margin: 0.2em;
}

.page-titles a:hover {
  color: rgb(0, 128, 255);
  text-decoration:underline;
}

.page-titles a:focus {
  color: DodgerBlue;
  text-decoration:underline;
}

.page-titles > div {
  background-color: rgb(9,9,11);
  text-align: center;
  padding: 0.2em;
  margin: 0.2em;
  border-radius: 0.5vw;
  
}

/* Footer css below */

footer {
  display: flex;
  background-color: rgb(9,9,11);
  
  margin: 0px;
  padding: 0.2em;
  text-align: center;
  justify-content: center;
}

.contact-container{
  display: flex;
  font-size: 2vw;
  align-items: center;
  color: whitesmoke;
  margin: 40px;
  border: 2px;
  padding: 3px;
  border-radius: 15px;
  background-color: rgb(176, 180, 184);
  gap: 7px;
  
}

.contact-container a{
  color:whitesmoke;
  
}

.text{
background-color: rgb(24,24,27);
float: left;
text-align: left;
font-size: 0.4em;
padding: 2px;
border-radius: 15px;
border: 3px;
}

.text > div{
  margin: 0px;
  padding: 4px;
  border: 0px;
  line-height:0.02em
  
}

svg {
  width: 2em;
  height: 2em;
}

.logos {
  display: flex;
  align-items: center;
  
}

.logos a {
  background-color: rgb(24,24,27);
  margin: 3px;
  padding: 0px;
  border: 1px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}